<!DOCTYPE html>
<html>
	<head>
		<title>Circlr.co</title>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
			<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="/css/style.css">
		</head>
		<body>
			<div class="container">
				<div class="row">
					<h1><a href="/">Circlr.co</a></h1>
					<h3>Turn things into circles</h3>
				</div>
			</div>
		</body>
	</html>